<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allpai.user.mapper.UserLockInfoMapper">

	<select id="queryObject" resultType="com.allpai.entity.user.UserLockInfoEntity">
		select * from user_lock_info where lock_id = #{value}
	</select>
	
	<select id="queryObjectByUserId" resultType="com.allpai.entity.user.UserLockInfoEntity">
		select * from user_lock_info where user_id = #{value}
	</select>

	<select id="queryList" resultType="com.allpai.entity.user.UserLockInfoEntity">
		select * from user_lock_info 
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="queryTotal" resultType="int">
		select count(*) from user_lock_info 
	</select>
	 
	<insert id="save" parameterType="com.allpai.entity.user.UserLockInfoEntity">
		insert into user_lock_info
		(
			`lock_id`, 
			`user_id`, 
			`create_time`
		)
		values
		(
			#{lockId}, 
			#{userId}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.allpai.entity.user.UserLockInfoEntity">
		update user_lock_info 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where lock_id = #{lockId}
	</update>
	
	<delete id="delete">
		delete from user_lock_info where lock_id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from user_lock_info where lock_id in 
		<foreach item="lockId" collection="array" open="(" separator="," close=")">
			#{lockId}
		</foreach>
	</delete>

</mapper>